---
- name: Generate cluster templates
  hosts: localhost
  vars:
    root_dir: ../
  tasks:
    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - magnum_default_master_flavor_name is defined
          - magnum_default_worker_flavor_name is defined
          - magnum_external_net_name is defined
          - magnum_loadbalancer_provider is defined

    - name: Fetch capi-helm-charts release information
      ansible.builtin.uri:
        url: https://api.github.com/repos/azimuth-cloud/capi-helm-charts/releases/latest
      register: capi_helm_chart_release_data

    - name: Fetch dependencies.json for capi-helm-charts release
      ansible.builtin.uri:
        url: https://raw.githubusercontent.com/azimuth-cloud/capi-helm-charts/{{ capi_helm_chart_release_data.json.tag_name }}/dependencies.json
      register: dependencies_response

    - name: Ensure wget packages is installed
      become: true
      ansible.builtin.package:
        name: wget
        state: present

    - name: Fetch manifest.json for capi-helm-charts images  # noqa command-instead-of-module
    # ansible.builtin.uri:
    #   url: https://raw.githubusercontent.com/azimuth-cloud/azimuth-images/{{ dependencies_response.json['azimuth-images'] }}/manifest.json
    # Above URL returns 404 even though similar URL for capi-helm-charts repo works fine
    # Not sure why but fall back to wget + JSON parsing for now.
      ansible.builtin.command: >-
        wget -O - https://github.com/azimuth-cloud/azimuth-images/releases/download/{{ dependencies_response.json['azimuth-images'] }}/manifest.json
      register: manifest_response
      changed_when: false

    - name: Parse JSON response
      ansible.builtin.set_fact:
        new_template_data: "{{ manifest_response.stdout | from_json | dict2items | selectattr('key', 'match', 'kubernetes*') | list }}"

    - name: Ensure output dir exists
      ansible.builtin.file:
        path: "{{ [root_dir, 'generated-magnum-snippets', now(utc=true, fmt='%Y-%m-%d-T%H-%M-%S')] | path_join }}"
        state: directory
        mode: "0755"
      register: output_dir

    - name: Write new image config to file
      ansible.builtin.template:
        src: "magnum-capi-images.j2"
        dest: "{{ output_dir.path }}/images.yml"
        mode: "0644"

    - name: Write new cluster template config to file
      ansible.builtin.template:
        src: "magnum-capi-templates.j2"
        dest: "{{ output_dir.path }}/templates.yml"
        mode: "0644"
