---
- name: Ensure OpenStack nova flavors exist
  hosts: localhost
  tags:
    - flavors
  roles:
    - role: stackhpc.openstack.os_flavors
      os_flavors_venv: "{{ openstack_venv }}"
      os_flavors_auth_type: "{{ openstack_auth_type }}"
      os_flavors_auth: "{{ openstack_auth }}"
      os_flavors_cacert: "{{ openstack_cacert }}"
      os_flavors: "{{ openstack_flavors }}"
