---
- name: Ensure OpenStack projects exist
  hosts: localhost
  tags:
    - project
  roles:
    - role: stackhpc.openstack.os_projects
      os_projects_venv: "{{ openstack_venv }}"
      os_projects_auth_type: "{{ openstack_auth_type }}"
      os_projects_admin_auth: "{{ openstack_auth }}"
      os_projects_cacert: "{{ openstack_cacert }}"
      os_projects: "{{ openstack_projects }}"
      os_projects_domains: "{{ openstack_domains }}"
