---
- name: Generate OpenStack software images
  hosts: localhost
  tags:
    - images
  roles:
    - role: stackhpc.os-images
      os_images_venv: "{{ ansible_env.PWD }}/openstack-images-venv"
      os_images_cache: "{{ ansible_env.PWD }}/openstack-config-image-cache"
      os_images_auth_type: "{{ openstack_auth_type }}"
      os_images_auth: "{{ openstack_auth }}"
      os_images_cacert: "{{ openstack_cacert }}"
      os_images_list: "{{ openstack_images }}"
      os_images_elements: "{{ openstack_image_elements }}"
      os_images_git_elements: "{{ openstack_image_git_elements }}"
